

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

img {
    -webkit-touch-callout: none;    /* Evita callout en iOS/Android */
    -webkit-user-drag: none;        /* Evita arrastrar imágenes */
    user-select: none;              /* Evita selección */
    pointer-events: auto;           /* Mantiene clics funcionales */
}

:root {
    --bg-color: white;
    --text-color: black;
    --text-color-logo: white;
    --header-bg: rgba(0,0,0,1);
    --card-bg: white;
    --modo-oscuro-btn-bg: rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 80px;
    padding-bottom: 65px;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --text-color-logo: rgb(241, 185, 2);
    --header-bg: #1f1f1f;
    --card-bg: #1e1e1e;
    --modo-oscuro-btn-bg: #373737;
 }


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
    color: var(--text-color-logo);
    cursor: pointer;                        /* puntero al pasar mouse */
    /*border: 1px solid white;*/
    display: inline-block;
    padding: 2px 5px;
    user-select: none;                      /* Evita selección */
}

h1:hover {
    color: rgb(241, 185, 2);
}

.latido-activo {
    animation: latido 5s infinite;
}


@keyframes latido {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 1.2 );
    }

    100% {
        transform: scale( 1 );
    }
}


h2 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: #121212;
    padding: 5px 20px;
    border-radius: 25px;
    /*border: 5px solid yellow;*/
    margin: 0px 15px;
}



.header {
    position: fixed;                        /* Fija la barra arriba */
    top: 0;
    left: 0;
    width: 100%;
    grid-area: header;
    height: 80px;
    background-color: var(--header-bg);
    /*padding: 0px;*/
    /*border: 5px solid yellow;*/
    z-index: 1000;
    text-align: center;                     /*Efecto LED */
}

.header.header-small {
    height: 50px;
}

/* Ajustar h1 dentro del header */
.header h1 {
    transition: font-size 0.3s ease, line-height 0.3s ease;
 }

.header.header-small h1 {
    font-size: 25px;
    line-height: 10px;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* grosor del LED */
    background: linear-gradient( 90deg, rgba(200,140,0,0) 0%, rgba(241,185,2,1) 35%, rgba(255,210,80,1) 50%, rgba(241,185,2,1) 65%, rgba(200,140,0,0) 100% );
    background-size: 200% 100%;
    animation: ledMove 6s linear infinite;
}


@keyframes ledMove {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}


.producto-card {
    display: flex;
    flex-direction: column;     /* Apila imagen, título y precio verticalmente */
    align-items: center;        /* Centra horizontalmente */
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
    /*border: 1px solid black;*/
    /*background-color: none;*/
}

.catalogo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    /*border: 1px solid black;*/
}

/* Animación: Cuando el usuario pasa el mouse por encima */
.producto-card:hover {
    transform: scale(1.05);                     /* Hace que la tarjeta crezca un 5% */
    box-shadow: 0 4px 8px rgba(0,0,0,0);
    cursor: pointer;                            /* puntero al pasar mouse */
}


.producto-card img {
    width: 100%;            /* se ajusta al ancho de la tarjeta */
    height: auto;           /* mantiene proporción */
    object-fit: cover;      /* opcional: recorta si es necesario */
    display: block;
    margin: 0 auto;         /* centra la imagen */
    /*border: 1px solid black;*/
}

.producto-card img[src*="placeholder.webp"] {
    aspect-ratio: 2 / 3;                        /* la proporción de las portadas reales */
    width: 100%;
    height: auto;
    background: #e9e9e9;

}

.producto-card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4rem;
    text-align: center;
    width: 90%;
    margin: 0px;
    margin-left: 10%;
    padding: 0px;
    /*border: 1px solid black;*/
}

.producto-card p {
    display: none;
    margin: 5px;
    padding-bottom: 10px;
}

#modo-oscuro-btn {
    position: absolute;
    right: 20px;                                        /* distancia desde el borde derecho */
    top: 50%;                                           /* centra verticalmente */
    transform: translateY(-50%);                        /* ajuste exacto de centrado vertical */
    transform-origin: center;                           /* el zoom se hace desde el centro */
    width: 40px;                                        /* ancho del círculo */
    height: 40px;                                       /* alto del círculo */
    border-radius: 40%;                                 /* lo hace circular */
    border: none;                                       /* quitar borde por defecto */
    background-color: var(--modo-oscuro-btn-bg);
    color: white;                                       /* color del icono */
    font-size: 18px;                                    /* tamaño del icono */
    cursor: pointer;                                    /* puntero al pasar mouse */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
    user-select: none;                                  /* Evita selección */
}

/* Hover: un ligero efecto para que se vea activo */
#modo-oscuro-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);               /* más oscuro al pasar mouse */
    transform: translateY(-50%) scale(1.1);             /* pequeño zoom */
}

.header.header-small #modo-oscuro-btn {
    width: 30px;                                        /* ancho del círculo */
    height: 30px;                                       /* alto del círculo */
    border-radius: 40%;                                 /* lo hace circular */
    font-size: 18px;                                    /* tamaño del icono */
}

.subti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    text-align: center;
    color: grey;
    width: 100%;
    margin: 0px;
    padding-top: 5px;
    /*border: 1px solid black;*/
}

footer {
    height: 40px;
    font-size: 0.7rem;
    color: white;
    background-color: var(--header-bg);
    text-align: center;
    position: fixed;                        /* Fija la barra arriba */
    bottom: 0;
    left: 0;
    width: 100%;                            /* ocupa todo el ancho */
}

/* --- BOTÓN FLOTANTE DE WHATSAPP --- */
.btn-wsp {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 90px;                           /* queda sobre el footer */
    right: 10px;
    background-color: #25D366;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 2000;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

}

.btn-wsp img {
    width: 25px;
    height: 25px;
}

.btn-wsp:hover {
    transform: scale(1.12);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

/* --- BOTÓN FLOTANTE DE MERCADO LIBRE --- */
.btn-ml {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 50px;                   /* Ubicado encima del de WhatsApp */
    right: 10px;
    background-color: #ffe600;      /* simular color logo de ML */
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 2000;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.btn-ml img {
    width: 25px;
    height: 50px;
    object-fit: contain;
}

.btn-ml:hover {
    transform: scale(1.12);
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

.btn-subir {
    position: fixed;
    bottom: 50px;                                   /* arriba del footer */
    left: 50%;                                      /* centrar horizontalmente */
    transform: translateX(-50%);
    width: 45px;
    height: 25px;
    border-radius: 40%;
    background: var(--secondary-color, #f1b902);
    border: none;
    color: rgba(0,0,0,0.8);
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    display: none;                                  /* oculto por defecto */
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.3s ease;
    pointer-events: none;                           /* se activa solo cuando se muestra */
}

.btn-subir.mostrar {
    display: flex;
    opacity: 0.9;
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
}

.btn-subir.ocultar {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
}

.btn-subir:hover{
    transform: translateX(-50%) scale(1.2);         /* aumenta tamaño*/
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#versionBadge {
    position: fixed;
    bottom: 5px; /* centrar horizontalmente */
    color: white;
    font-size: 6px;
    z-index: 99999;
    opacity: 1;
    transition: opacity 1s ease;
    left: 50%;                      /* centrar horizontalmente */
    transform: translateX(-50%);
}

/* === Desktop grande en adelante === */
@media ( min-width: 1200px ) {

    body {
        padding-top: 170px;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 100px;
        line-height: 130px;
        margin: 0px;
        /*border: 1px solid yellow;*/
    }

    .header {
        height: 150px;
        background-color: var(--header-bg);
        /*border: 5px solid yellow;*/
    }

    .header.header-small {
        height: 80px;                                   /* altura achicada */
    }

    /* Ajustar h1 dentro del header */
    .header h1 {
        transition: font-size 0.3s ease, line-height 0.3s ease;
    }

    .header.header-small h1 {
        font-size: 50px;                                /* tamaño reducido */
        line-height: 70px;
    }

    .producto-card {
        /*border: 1px solid black;*/
        max-width: none;
        /*margin: 0;*/                                  /* centra la tarjeta si sobra espacio */
    }
    .producto-card h3 {
        font-size: 1.5rem;
        /*border: 1px solid black;*/
    }

    .producto-card p {
        margin: 5px;
        padding-bottom: 10px;
    }

    .catalogo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        padding: 50px 90px 90px 90px;
    }

    .producto-card img {
        width: 100%;                /* se ajusta al ancho de la tarjeta */
        height: auto;               /* mantiene proporción */
        object-fit: cover;          /* opcional: recorta si es necesario */
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        margin: 0px 80px 0px 80px;
        border-radius: 50px;
    }

    .header::after {
        height: 8px;                /* grosor del LED */
    }

    .subti {
        font-size: 1.2rem;
        margin: 0px;
        padding-top: 10px;
        /*border: 1px solid black;*/
    }

    footer {
        height: 50px;
        font-size: 1rem;
    }

    #modo-oscuro-btn {

        width: 80px;            /* ancho del círculo */
        height: 80px;           /* alto del círculo */
        font-size: 35px;        /* tamaño del icono */
    }

    .header.header-small #modo-oscuro-btn {
        width: 50px;            /* ancho del círculo */
        height: 50px;           /* alto del círculo */
        font-size: 25px;        /* tamaño del icono */
    }

    .btn-wsp {
        width: 50px;
        height: 50px;
        bottom: 130px;          /* queda sobre el footer */
        right: 20px;

    }

    .btn-wsp img {
        width: 35px;
        height: 35px;
    }
    /* --- BOTÓN FLOTANTE DE MERCADO LIBRE --- */
    .btn-ml {

        width: 50px;
        height: 50px;
        bottom: 65px;           /* Ubicado encima del de WhatsApp */
        right: 20px;
      
    }

    .btn-ml img {
        width: 35px;
        height: 60px;
    }

    .btn-subir {
        bottom: 60px;           /* arriba del footer */
        width: 65px;
        height: 40px;
        font-size: 20px;
     
    }

    #versionBadge {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        left: auto;
        transform: none;
    }


}


